# Lister Printer Configuration
# Documentation: https://os.ratrig.com
# When servicing it's recommended that you follow these steps to properly calibrate your printer:
#
# 0) Sanity check and PID Tuning: https://www.klipper3d.org/Config_checks.html
# 1) Pressure Advance: https://www.klipper3d.org/Pressure_Advance.html
# 2) Skew Correction: https://www.klipper3d.org/Skew_Correction.html
# 3) Resonance Compensation: https://www.klipper3d.org/Resonance_Compensation.html

# Read more about klipper here: https://www.klipper3d.org/Overview.html

#############################################################################################################
### CONTROL BOARD
### Pick the board you have installed and wired in your printer.
#############################################################################################################
[include lister_config/btt-skr-pro-12.cfg]

#############################################################################################################
### BASE SETUP
#############################################################################################################
[include lister_config/base.cfg]

[include RatOS/macros.cfg]
[include RatOS/shell-macros.cfg]
[include moonraker_obico_macros.cfg]

#############################################################################################################
### LISTER SPECIFIC MACROS
#############################################################################################################
[include lister_config/macros/macros-base.cfg]
[include lister_config/macros/macros-homing.cfg]
[include lister_config/macros/macros.cfg]


#############################################################################################################
### SCREW TILT ADJUST
### Hels adjust screws to help level screw tilt with the help of a probe.
#############################################################################################################
[include lister_config/screw-tilt-adjust.cfg]

#############################################################################################################
### Z-TILT
### Probe correct Z (X-axis) tilt
#############################################################################################################
[include lister_config/z-tilt.cfg]

#############################################################################################################
### POWER PORTS
### Setup for available controller managed power ports.
#############################################################################################################
[include lister_config/power.cfg]

#############################################################################################################
### HOMING
### Pick your probe and endstops
#############################################################################################################
# BL Touch
#[include RatOS/z-probe/bltouch.cfg]

# Inductive/Capacitive probe
# [include RatOS/z-probe/probe.cfg]
[include lister_config/probe.cfg]
[include lister_config/input-shaper.cfg]]

# Sensorless homing (Beware: this requires manual tinkering and does not work if your x/y stepper drivers
# have clipped DIAG pins). It is strongly encouraged to use physical endstops if you're a beginner.
# If you still wish to proceed, copy config/templates/sensorless-homing-tmc2209.cfg to the root directory and
# remove the # from the line below, then tune the settings in it, until you have reliable homing.
[include lister_config/sensorless-homing.cfg]

#############################################################################################################
### INPUT SHAPER
### Enable/disable input shaper calibration
#############################################################################################################
# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     200,200,20 # Change this to the center of your bed.

#############################################################################################################
### TOOLHEAD
#############################################################################################################
# Extruder
[include lister_config/extruder.cfg]

#############################################################################################################
### STEPPERS
### Connecting steppers and drivers together.
#############################################################################################################
[include lister_config/steppers.cfg]
[include lister_config/drivers.cfg]

#############################################################################################################
### TOOLHEAD
### Speed and dimension limits.
#############################################################################################################
[include lister_config/speed-limits.cfg]
[include lister_config/size-250-250.cfg]

#############################################################################################################
### RUNOUT SENSOR
### Detects when filament is empty.
#############################################################################################################
[include lister_config/runout-sensor.cfg]

#############################################################################################################
### MACRO CONFIGURATION
### Configure the behavior of Lister macros.
#############################################################################################################
[gcode_macro Lister]
description: Lister variable storage macro, will echo variables to the console when run.
# Configuration Defaults
# This is only here to make the config backwards compatible.
# Configuration should exclusively happen in printer.cfg.
variable_nozzle_pid_temp: 200
variable_bed_pid_temp: 75
variable_park_x: 110  # X position to park, adjust as needed
variable_park_y: -15  # Y position to park, adjust as needed
variable_object_height: 65  # Maximum height of objects in multi-object prints
variable_macro_travel_speed: 200
variable_macro_z_speed: 10

#############################################################################################################
### PRINTER CONFIGURATION
### Implement your printer specific configuration here.
### You will need to manually configure steppers, drivers, endstops, kinematics, fans, and bed_mesh here.
### You can use the RatOS stepper configs located in RatOS/steppers/ for stepper tuning settings.
#############################################################################################################

[filament_switch_sensor runout_sensor]
pause_on_runout: False
#   When set to True, a PAUSE will execute immediately after a runout
#   is detected. Note that if pause_on_runout is False and the
#   runout_gcode is omitted then runout detection is disabled. Default
#   is True.
runout_gcode: 
    RESPOND MSG="Filament runout detected. Continuing to print for specified distance."
    _FILAMENT_RAN_OUT CONTINUE_PRINT_DISTANCE=150 # In mm
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
insert_gcode: 
    _FILAMENT_INSERTED
#   Once a new filament is detected, G-Code will be executed to start the extruder for purging.
event_delay: 3.0
#   After detection of runout, the printer will continue printing to further use remaining filament
#   before pausing. It will then purge remaining and finish. Default is 120 seconds.

[extruder]
# Check https://www.klipper3d.org/Pressure_Advance.html for pressure advance tuning.
nozzle_diameter: 0.6 # Remember to change this if you change nozzle diameter.
# control: pid
# pid_kp: 16.902
# pid_ki: 0.667
# pid_kd: 107.117

[heater_bed]
sensor_type: lister_250w_bed_thermistor
control: pid
pid_kp: 51.325
pid_ki: 1.188
pid_kd: 554.308

[stepper_z]
position_max: 243
# This allows for a scew bed up to -1mm beyond min Z of 0mm.
position_min: -1
position_endstop: 243


#############################################################################################################
### USER OVERRIDES
### Anything custom you want to add, or RatOS configuration you want to override, do it here.
### See: https://os.ratrig.com/docs/configuration/includes-and-overrides
#############################################################################################################
## PLEASE NOTE VALUES BELOW ARE SAVE_CONFIG VALUES AND ALTHOUGH IT LOOKS COMMENTED OUT IT IS USED!         ##
#############################################################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# IMPORTANT NOTICE
#*# If your nozzle is to far from the bed when printing - decrease this value, if it is too close, increase this value.
#*# Please be aware, if it is too close, it will scratch/damage your bed.
#*# [probe]
#*# z_offset = 0.15
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 51.805
#*# pid_ki = 1.212
#*# pid_kd = 553.662
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 14.872
#*# pid_ki = 0.389
#*# pid_kd = 142.216
