[Unit]
Description=Lister Update Service
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/home/pi/lister_config/lister.sh refresh
RemainAfterExit=no
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
